<%= link_to "Home", root_path %>
  <span> | </span>
<% if current_user %>
  <%= link_to 'Create New Status', new_status_path %>
  <span> | </span>
  <%= link_to 'Logout', logout_path %>
  <span> | </span>
<% else %>
  <%= link_to 'Register New User', new_user_path %>
  <span> | </span>
  <%= link_to 'Login', login_path %>
  <span> | </span>
<% end %>



